{%- comment %}
    Downsize an image and use it, adding add a click target.

    Required args:
        path: Image path.

    Optional args:
        target: Link to target, otherwise use the full-size image.
        options: Resize option e.g. '350x350>'
            Recommended sizing: 350 for 1/3, 500 1/2 or 730 full,
            leaving room for padding for the last esp so it doesn't get pushed off to the right over the boundry
{% endcomment -%}
{% assign options = include.options | default: '350x350>' %}
{% assign target = include.target | default: include.path %}
<a href="{{ target }}">
    <img src="{{ include.path | resize: options }}"
    {%- if include.alt %}
        alt="{{ include.alt }}"
        title="{{ include.alt }}"
    {% endif -%}
    />
</a>
