{% comment %}
    Insert centered image tag with hidden description.

    Note the centering might not do anything visible - see image.html as that centers properly and uses this includes.

    Required args:
        image_path
    Optional args:
        description
{% endcomment %}
{% assign image_path = include.image_path %}
{% unless include.image_path contains ".svg" %}
    {% assign image_path = image_path | resize: "820x820>" %}
{% endunless %}
<img src="{{ image_path | relative_url }}"
    {%- if include.description %} alt="{{ include.description }}" {% endif %}
    class="center"
/>
