{% comment %}
    Insert figure containing an image, taking optional link and caption text.

    Required args:
        image_path
    Optional args:
        out_link
        description
{% endcomment %}

<figure class="captionedImage">
    {%- if include.out_link -%}
        <a href="{{ include.out_link }}">
    {%- endif -%}
            {% include image_simple.html %}
    {%- if include.out_link -%}
        </a>
    {%- endif -%}
    <figcaption>{{ include.description }}</figcaption>
</figure>
