{% comment %}
    A list of shows for the 2019 tour, which changes based on the current date.
{% endcomment %}
<div id="show-list"></div>
<script>
    (function () {
        var tour = [{
                date: "2019-04-11",
                title: "Stellenbosch – Trude Gunther se huis",
            },
            {
                date: "2019-04-12",
                title: "Bainskloof (Wellington) - McBains",
            },
            {
                date: "2019-04-13",
                title: "Hermanus – Hermanus Brewery",
            },
            {
                date: "2019-04-14",
                title: "Knysna – House of Louw Claassens & Pieter Verhoef",
            },
            {
                date: "2019-04-15",
                title: "Port Elizabeth – Jill’s House in Newton Park",
            },
            {
                date: "2019-04-15",
                title: "Grahamstown – The Provost Café",
            }, {
                date: "2019-04-17",
                title: "Lunchtime (11 am): Somerset East – Karoo Tech Hub",
            }, {
                date: "2019-04-17",
                title: "Evening: Cradock – Victoria Manor",
            }, {
                date: "2019-04-18",
                title: "Lunchtime (11 am): Bethulie – Bethulie Boekehotel",
            }, {
                date: "2019-04-18",
                title: "Evening: Smithfield – Bowling Club",
            }, {
                date: "2019-04-19",
                title: "Rosendal – Yolla’s",
            }, {
                date: "2019-04-20",
                title: "Joburg - Dunkelder Onafhanklike Teater",
            }, {
                date: "2019-04-21",
                title: "Pretoria – Marguerite se huis in Rietondale",
            }, {
                date: "2019-04-22",
                title: "Clarens – Mt Horeb Manor",
            }, {
                date: "2019-04-23",
                title: "Dewetsdorp – Die Stoep @ Gemsboklaan",
            }, {
                date: "2019-04-24",
                title: "Britstown – The Old Mill Coffee Shop",
            }, {
                date: "2019-04-25",
                title: "Graaff-Reinet – Hartland Huis",
            }, {
                date: "2019-04-26",
                title: "Brunch: Leeu-Gamka",
            }, {
                date: "2019-04-26",
                title: "Evening: Cape Town - Alma Café",
            }, {
                date: "2019-04-27",
                title: "Darling – Evita se Perron",
            },
        ];

        var today = new Date();
        today.setUTCHours(0, 0, 0, 0);
        tour = tour.filter(show => new Date(show.date) >= today);
        var div = document.getElementById('show-list');

        if (tour.length) {
            var p = document.createElement('p');
            p.innerHTML = "Upcoming shows: ";
            div.appendChild(p);

            var ul = document.createElement('ul');
            for (var show of tour) {
                let li = document.createElement('li');
                li.innerHTML = `<b>${show.date}</b> ${show.title}`;
                ul.appendChild(li);
            }
            div.appendChild(ul);
        } else {
            var p = document.createElement('p');
            p.innerHTML = "The tour is finished. Look out for our shows planned for May."
            div.appendChild(p);
        }
    })();
</script>
