{% comment %}
Override minima's social links, which are used in the footer.
Text is removed, icons are kept.
Spans are used to prevent wrapping.
{% endcomment %}

<div class="social-media-list">
    {%- if site.facebook_username -%}
    <span>
        <a href="https://facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
            </svg>
        </a>
    </span>
    {%- endif -%}

    {%- if site.instagram_username -%}
    <span>
        <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
            </svg>
        </a>
    </span>
    {%- endif -%}

    {%- if site.twitter_username -%}
    <span>
        <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
            </svg>
        </a>
    </span>
    {%- endif -%}

    {%- if site.youtube_username -%}
    <span>
        <a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use>
            </svg>
        </a>
    </span>
    {%- endif -%}

    {%- if site.github_repo -%}
    <span>
        <a href="https://github.com/{{ site.github_repo }}">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
        </a>
    </span>
    {%- endif -%}

    {%- if site.rss -%}
    <span>
        <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg>
        </a>
    </span>
    {%- endif -%}
</div>
