---
layout: default

# If image is set on the album, insert it.

# Extract the name of this album from the directory structure. Then do the same for each track.
# and filter on that value matching to get just the tracks in this album.
# Assume the track filenames start with two digits so they can be used for automatic sorting.
---

<p>Back to <a href="{{ site.baseurl }}{% link _pages/music.md %}">Music</a></p>

<h1>Album: {{ page.title }}</h1>

{% assign current_album_name = page.path | split: "/" | slice: 1 %}
{% assign press_mains = site.press | where: "layout", "press_main" %}

{%- for item in press_mains -%}
    {% assign press_name = item.path | split: "/" | slice: 1 %}
    {%- if press_name == current_album_name -%}
        <h2>Go to <a href="{{ item.url | remove: index.html | relative_url }}">album press</a></h2>
        {% break %}
    {%- endif -%}
{%- endfor -%}

<h3>{{ page.sub_title | markdownify }}</h3>

<p>Released: {{ page.date | date: "%B %Y "}}</p>

{% if page.image %}
    <img src="{{ site.album_images_dir | relative_url }}{{ page.image }}" alt="{{ page.title }} album cover" class="simpleImage">
    <br>
    <br>
{% endif %}

{% if page.bandcamp %}
    {% include bandcamp_player.html bandcamp=page.bandcamp %}
{% endif %}


<h2>Order</h2>

<ul>
    {% if page.price_local %}
        <li>
            {{ page.price_local }}
        </li>
    {% endif %}
    {% if page.price_foreign %}
        <li>
            {{ page.price_foreign }}
        </li>
    {% endif %}
</ul>

<p>To place an order, see the <a href="{{ site.baseurl }}{% link _pages/merch.md %}">Merch</a> page.</p>


{{ content }}


<h2>Tracklist / Lyrics</h2>

{% assign album_name = page.path | split: "/" | slice: 1 %}
<ol>
    {% assign all_tracks_sorted = site.music | where: "layout", "track" %}
    {% for track in all_tracks_sorted %}
        {% assign track_album_name = track.path | split: "/" | slice: 1 %}

        {% if track_album_name == album_name %}
            <li>
                <a href="{{ track.url | relative_url }}">{{ track.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ol>


<h2>Production</h2>

{{ page.production }}
