---
layout: default

# If image is set on the album, insert it.

# Extract the name of this album from the directory structure. Then do the same for each track.
# and filter on that value matching to get just the tracks in this album.
# Assume the track filenames start with two digits so they can be used for automatic sorting.
---

{% assign album_name = page.path | split: "/" | slice: 1 %}

<p>Back to <a href="{% link _pages/music.md %}">Music</a></p>

<h1>Album: {{ page.title }}</h1>

<h3>{{ page.sub_title | markdownify }}</h3>

<p><b>Released:</b> {{ page.date | date: "%B %Y "}}</p>

{% if page.image %}
    <div align="center">
        <img src="{{ site.album_images_dir | relative_url }}{{ page.image }}"
            alt="{{ page.title }} album cover"
            class="medium">
    </div>
    <br>
    <br>
{% endif %}

{% if page.bandcamp %}
    {% include bandcamp-player.html bandcamp=page.bandcamp %}
{% endif %}

{% assign press-mains = site.press | where: "layout", "press-main" %}

{% comment %} For loop used here for ease but a filter and getting one item if any would work. {% endcomment %}
{%- for item in press-mains -%}
    {% assign press_name = item.path | split: "/" | slice: 1 %}
    {%- if press_name == album_name -%}
        <h2>Reviews</h2>
        <p>See this album's <a href="{{ item.url | remove: index.html | relative_url }}">press</a> page.</p>
        {% break %}
    {%- endif -%}
{%- endfor -%}


{% if page.price_local or page.price_foreign %}

<h2>Order</h2>

<ul>
    {% if page.price_local %}
        <li>
            {{ page.price_local }}
        </li>
    {% endif %}
    {% if page.price_foreign %}
        <li>
            {{ page.price_foreign }}
        </li>
    {% endif %}
</ul>

<p>To place an order, see the <a href="{% link _pages/merch.md %}">Merch</a> page.</p>

{% endif %}

{{ content }}


<h2>Tracklist / Lyrics</h2>

<ol>
    {% assign all_tracks_sorted = site.music | where: "layout", "track" %}

    {% for track in all_tracks_sorted %}
        {% assign track_album_name = track.path | split: "/" | slice: 1 %}

        {% if track_album_name == album_name %}
            <li>
                <a href="{{ track.url | relative_url }}">{{ track.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ol>


<h2>Production</h2>

{{ page.production }}
