---
layout: default

# If image is set on the album, insert it.

# Extract the name of this album from the directory structure. Then do the same for each track.
# and filter on that value matching to get just the tracks in this album.
# Assume the track filenames start with two digits so they can be used for automatic sorting.
---

{% assign music_page = site.pages | where: "name", "music.md" | first %}
<p>Back to <a href="{{ music_page.url | relative_url }}">Music</a></p>

<h1>Album: {{ page.title }}</h1>

<h3>{{ page.sub_title | markdownify }}</h3>

{% if page.image %}
    <img src="{{ site.album_images_dir | relative_url }}{{ page.image }}" alt="{{ page.title }} album cover">
    <br>
    <br>
{% endif %}


<h2>Released</h2>

{{ page.date | date: "%B %Y "}}
<br>
<br>


<h2>Order</h2>

<ul>
    {% if page.price_local %}
        <li>
            {{ page.price_local }}
        </li>
    {% endif %}
    {% if page.price_foreign %}
        <li>
            {{ page.price_foreign }}
        </li>
    {% endif %}
</ul>


Place CD orders with Toast at <a href="mailto:info@toastcoetzer.com">info@toastcoetzer.com</a>.<br>
<br>


{{ content }}


{% assign album_path = page.path | split: "/" %}
{% assign album_name = album_path[1] %}

<ul>
    {% assign all_tracks_sorted = site.music | where: "layout", "track" %}
    {% for track in all_tracks_sorted %}
        {% assign track_path = track.path | split: "/" %}
        {% assign track_album_name = track_path[1] %}

        {% if track_album_name == album_name %}
            <li>
                <a href="{{ track.url | relative_url }}">{{ track.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>


<h2>Production</h2>

{{ page.production }}
<br>
