---
layout: default

# Link to the previous and next tracks. Exclude albums which are also in the music collection.
# Link to the track's album using the common parent directory name.
---

<h1>Track: {{ page.title }}</h1>


{% assign track_album_name = page.path | split: "/" | slice: 1 %}
{% assign albums = site.music | where: "layout", "album" %}

{% for album in albums %}
    {% assign album_name = album.path | split: "/" | slice: 1 %}

    {% if album_name == track_album_name %}
        <h2>Album: <a href="{{ album.url | remove: index.html | relative_url }}">{{ album.title }}</a></h2>
        {% break %}
    {% endif %}
{% endfor %}

{%- if page.previous.layout == 'track' -%}
    Previous track: <a href="{{ page.previous.url | relative_url }}">{{page.previous.title}}</a><br>
{%- endif -%}
{%- if page.next.layout == 'track' -%}
    Next track: <a href="{{ page.next.url | relative_url }}">{{page.next.title}}</a><br>
{%- endif -%}
<br>

<h3>Lyrics</h3>

{{ content }}
