---
layout: default
---

<h1>Track: {{ page.title }}</h1>


{% assign track_album_name = page.path | split: "/" | slice: 1 %}
{% assign albums = site.music | where: "layout", "album" %}

{% for album in albums %}
    {% assign album_name = album.path | split: "/" | slice: 1 %}

    {% if album_name == track_album_name %}
        {% assign album_url = album.url %}
        {% assign album_title = album.title %}
        {% break %}
    {% endif %}
{% endfor %}
<h2>Album: <a href="{{ album_url | remove: index.html | relative_url }}">{{ album_title }}</a></h2>


{{ content }}
